div.main {
    display: inline-block;
}

#panel {
    vertical-align: top;
}

#modifier_keys {
    text-align: right;
    margin-right: 20px;
    vertical-align: bottom;
}

#arrow_keys {
    text-align: center;
}

.key {
    border-radius: 6px;
    margin-bottom: 4px;
    text-align: left;
    padding-left: 10px;
    height: 80px;
    font-size: 20px;
    width: 80px;
}

.key:active {
    background: #afafaf;
}

.arrow {
    font-size: 40px;
}

.modifier {
    text-align: left;
    padding-right: 50px;
    width: auto;
}

.keys {
    display: inline-block;
    vertical-align: bottom
}

#leds {
    margin-bottom: 40px;
}

#keyboard {
    margin-top: 10px;
}

button:focus {
    outline: 0;
}
