<!doctype html>

<head>
  <title>{{ title }}</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body>
  <div class="main" id="panel">
    <img id="logo" src="../static/cybot.gif"></img>
    <div id="keyboard">
      <div class="keys" id=modifier_keys>
        <button class="modifier key" id="turbo">Turbo</button>
        <br>
        <button class="modifier key" id="slow">Ctrl</button>
      </div>
      <div class="keys" id="cursor_keys">
        <div class="keys" id="leds">
          <button class="led key" id="ledLeft">Left led</button>
          <button class="led key" id="ledBoth"> Both leds</button>
          <button class="led key" id="ledRight">Right led</button>
        </div>
        <br>
        <div class="keys" id="arrow_keys">
          <button class="arrow key" id="up">↑</button>
          <br>
          <button class="arrow key" id="left">←</button>
          <button class="arrow key" id="down">↓</button>
          <button class="arrow key" id="right">→</button>
        </div>
      </div>
    </div>
  </div>
  <div class="main" id="streaming">
    <img src="http://susensio.ddns.net:8081">
  </div>
</body>
<script type="text/javascript" src="../static/scripts.js"></script>
